* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  background-color: #36383a;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 15%;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}